.header {
  padding: 1.5rem 2.5rem 0.6rem;
  background: $header-bg;
  min-height: 8rem;
  color: $white;
  font-size: $header-font;
  .branding {
    width: 25%;
  }
  a.branding-link:focus {
    text-decoration: none;
  }
  .logo {
    height: 100%;
    display: inline-block;
    margin-top: -1.8rem;
    color: $white;
  }
  .nav {
    margin-top: 0.4rem;
    height: 4.5rem;
    &.logged-in {
      margin-top: 0.7rem;
    }
    &.signup-nav {
      .action-item {
        display: inline-block;
        padding: 1rem 2rem;
        margin-right: 2rem;
        transform: translateY(10%);
      }
    }
  }
  .action-item {
    margin-left: 2rem;
    transform: translateY(70%);
    display: inline-block;
    position: relative;
    z-index: 9;
    a {
      color: $white;
    }
  }

  .action-item:first-child {
    margin-left: 0 !important;
  }


  .action-item__btn {
    display: inline-block;
    width: 13.5rem;
    text-align: center;
    border: 1px solid $white;
    border-radius: 0.3rem;
    padding: 1.1rem 2.2rem;
    transform: translateY(0);
  }

  .show-sm {
    display: inline-block;
  }

  .hide-sm {
    display: none;
  }
  .more-links {
    height: 9rem;
    width: 12rem;
    position: absolute;
    bottom: -9rem;
    right: -2.4rem;
    border-radius: .5rem;
    background: $header-bg;
    .action-item {
      display: block;
      padding: 0.5rem 2.3rem 2.7rem;
      text-align: right;
      height: 3rem;
    }

    .action-item:first-child {
      padding-top: 0.6rem;
    }
  }

  @media only screen and (max-width: 480px) {
    .header {
      padding: 0.5rem 0 1.6rem;
    }

    .action-item__btn {
      width: 11.5rem;
      padding: 1.1rem 0;
    }
  }

  @media only screen and (min-width: 600px) {
    .header-btn {
      margin: 0;
    }
  }
  @media only screen and (max-width: 600px) {
    .branding.pull-left,
    .nav.pull-right {
      float: none !important;
      margin: 0 auto;
    }

    .header-btn {
      width: 100%;
      padding: 0.5rem;
    }

    .branding.pull-left {
      width: 33.333333%;
      margin-bottom: 1rem;
    }

    .nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: flex-start;
      align-items: flex-start;
    }

    .action-item {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }
  }

  @media only screen and (min-width: 993px) {
    .action-item {
      margin-left: 4rem;
    }
    .action-item__btn {
      margin-left: 3rem;
    }

    .branding {
      margin-top: 0;
    }
  }

  @media only screen and (min-width: 460px) {
    .show-sm {
      display: none;
    }

    .hide-sm {
      display: inline-block;
    }
  }

}