* {
  box-sizing: border-box;
}

body, html, .content-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

header {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #ddd;
  min-height: 3rem;
}

.view-wrapper {
  /*Flex child*/
  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  /*Flex container styles*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.section{
  padding: 2rem 2rem;
}

footer {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
  background-color: #6A8DB1;
  min-height: 3rem;
}