<header class="header">
    <div class="container">
        <div class="pull-left branding action-item">
            <a href="/" class="branding-link">
                <h1 class="logo"> mBoard </h1>
            </a>
        </div>
        <div class="pull-right nav open-sans-light">
                <span class="action-item">
                    <a ui-sref="latest">Latest</a>
                </span>
                <span class="action-item">
                    <a ui-sref="categories">Categories</a>
                </span>
                <span class="action-item hide-sm" ng-click="onLoginClick()">
                    <a href="#">Login</a>
                    <login show-login="showLogin" ng-click="$event.stopPropagation();"></login>
                </span>
                <span class="action-item hide-sm" ng-click="onSignupClick()">
                    <a href="#">Signup</a>
                </span>

                <span class="action-item show-sm">
                    <a href class="text-primary" ng-click="showChilds = !showChilds; showLogin = false">
                        More
                    </a>
                    <span class="more-links" ng-show="showChilds" ng-click="$event.stopPropagatin()">
                       <span class="action-item" ng-click="onLoginClick()">
                            <a href>Login</a>
                            <login show-login="showLogin" ng-click="$event.stopPropagation();"></login>
                        </span>
                    </span>
                </span>
        </div>
    </div>
</header>