/* Colors */
$cyan: #61b7c8;
$cyan-hover: #53a8b9;
$text-color: #303743;
$header-bg: #383c45;
$pre-footer-bg: $text-color;
$footer-bg: #272c36;
$pre-footer-color: #4d586b;
$footer-title-color: #6D7A90;
$white: #fff;
$fb-bg: #3b5998;
$light-gray: #9A9A9A;
$color-1: #CE261D;
$color-2: #d8790e;
$color-3: #13747D;
$color-4: #169F27;