/* Colors */
$cyan: #61b7c8;
$cyan-hover: #53a8b9;
$text-color: #303743;
$header-bg: #383c45;
$colleges-bg: #f2f3f4;
$become-tutor-bg: #e0e3e5;
$what-is-tutor-bg: $text-color;
$questions-bg: #eaedef;
$join-community-bg: #e5e8e9;
$pre-footer-bg: $text-color;
$footer-bg: #272c36;
$pre-footer-color: #4d586b;
$footer-title-color: #6D7A90;
$white: #fff;
$fb-bg: #3b5998;