<div class="login-form" ng-show="showLogin">
    <form name="loginForm" novalidate="" class="login text-center">
        <div class="form-group">
            <input type="text"
                   required=""
                   class="form-control"
                   placeholder="Email"
                   ng-model="username"
                   name="username"
                   tooltip="{{requiredMsg}}"
                   tooltip-placement="left"
                   tooltip-trigger="mouseenter"
                   ng-disabled="isLoading"
                   tooltip-enable="loginForm.username.$error.required && loginForm.username.$touched">
        </div>
        <div class="form-group">
            <input type="password"
                   required=""
                   class="form-control"
                   placeholder="Password"
                   ng-model="password"
                   name="password"
                   tooltip="{{requiredMsg}}"
                   tooltip-placement="left"
                   tooltip-trigger="mouseenter"
                   ng-disabled="isLoading"
                   tooltip-enable="loginForm.password.$error.required && loginForm.password.$touched">
        </div>
        <span class="primary-text pull-right forgot-password"
              ng-click="onForgotPasswordClick()"
              tooltip="Send an email for requesting a new password"
              tooltip-placement="left"
              tooltip-trigger="mouseenter">Forgot password?</span>
        <button type="submit"
                class="btn ttr-btn ttr-btn-sm"
                ng-click="onLogin(loginForm)"
                ng-disabled="isLoading">login
        </button>
        <img src="app/common/images/loader-dark.gif" class="loader" ng-show="isLoading"/>
    </form>
</div>